{% extends "base.html" %}
{% block content %}
    <h2>Scoreboard</h2>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Section</th>
                <th>Score</th>
                <th>Time Taken (s)</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.user.username }}</td>
                    <td>{{ score.section.title }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.time_taken }}</td>
                    <td>{{ score.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
